
            <dom-module id="kano-user-component">
                <style>
                    :host {
                        background:#F5F5F5;
                    }
                    :host kano-ui-viewport * {
                        position: absolute;
                    }
                </style>
                <template>
                    <kano-ui-viewport mode="scaled"
                                view-width="512"
                                view-height="384"
                                no-overflow>
                        <kano-part-hardware id="speaker" model="{{parts.speaker}}" auto-start></kano-part-hardware>
<kano-ui-text id="text" model="{{parts.text}}" auto-start></kano-ui-text>
                    </kano-ui-viewport>
                </template>
            </dom-module>
            <script>
                Polymer({
                    is: 'kano-user-component',
                    properties: {
                        parts: {
                            type: Object,
                            value: JSON.parse("{\"speaker\":{\"id\":\"speaker\",\"name\":\"Speaker\",\"type\":\"speaker\",\"userStyle\":{},\"userProperties\":{},\"position\":{\"x\":0,\"y\":0}},\"text\":{\"id\":\"text\",\"name\":\"Text\",\"type\":\"text\",\"userStyle\":{\"color\":\"#F5F5F5\",\"font-size\":\"4em\",\"font-family\":\"monospace\"},\"userProperties\":{\"text\":\"My text\"},\"position\":{\"x\":149.61669829222018,\"y\":149.61669829222006},\"customizable\":{\"properties\":[{\"key\":\"text\",\"type\":\"text\",\"label\":\"Text\"}],\"style\":[\"color\",\"font-size\",\"font-family\"]},\"rotation\":0,\"scale\":\"181\",\"visible\":true}}")
                        }
                    },
                    attached: function () {
                        var devices = {
                            get: function (id) {
                                if (id === 'dropzone') {
                                    return this;
                                }
                                return this.$$('#' + id);
                            }.bind(this)
                        };

                (function (devices, time, loop, global, speaker, data, math, colour, mouse) {
                    var c;


time.every(5, function () {
  c = colour.random();
  speaker.say(c, 1, "en-GB");
  devices.get('dropzone').style.backgroundColor = c;
  devices.get('text').setValue(c);devices.get('text').rotate(math.random(0, 7, false));
});
;
                })(devices, KanoModules.time.methods, KanoModules.loop.methods, KanoModules.global.methods, KanoModules.speaker.methods, KanoModules.data.methods, KanoModules.math.methods, KanoModules.colour.methods, KanoModules.mouse.methods);

                    }
                });
            </script>
        


<dom-module id="kano-view-preview">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host kano-user-component {
            @apply(--layout-flex);
        }
    </style>
    <template>
        <kano-user-component></kano-user-component>
    </template>
</dom-module>

<script>
    class KanoViewPreview {
        beforeRegister () {
            this.is = 'kano-view-preview';
        }
    }
    Polymer(KanoViewPreview);
</script>
