<dom-module id="kano-user-component">
                <style>
                    :host {
                        background:#F5F5F5;
                    }
                    :host kano-ui-viewport * {
                        position: absolute;
                    }
                </style>
                <template>
                    <kano-ui-viewport mode="scaled"
                                view-width="512"
                                view-height="384"
                                no-overflow>
                        <kano-ui-button id="button" model="{{parts.button}}" auto-start></kano-ui-button>
                    </kano-ui-viewport>
                </template>
            </dom-module>
            <script>
                Polymer({
                    is: 'kano-user-component',
                    properties: {
                        parts: {
                            type: Object,
                            value: JSON.parse("{\"button\":{\"id\":\"button\",\"name\":\"Button\",\"type\":\"button\",\"userStyle\":{\"background-color\":\"#2A3080\"},\"userProperties\":{\"label\":\"Click me\"},\"position\":{\"x\":237.05502846299814,\"y\":74.80834914611005},\"customizable\":{\"properties\":[{\"key\":\"label\",\"type\":\"text\",\"label\":\"Label\"}],\"style\":[\"background-color\"]},\"rotation\":0,\"scale\":100,\"visible\":true}}")
                        }
                    },
                    attached: function () {
                        this.style.backgroundColor = 'red';
                        var devices = {
                            get: function (id) {
                                if (id === 'dropzone') {
                                    return this;
                                }
                                return this.$$('#' + id);
                            }.bind(this)
                        };

                (function (devices, time, loop, global, speaker, data, math, colour, mouse) {
                    devices.get('button').when('clicked', function () {
  devices.get('dropzone').style.backgroundColor = colour.random();
});
;
                })(devices, KanoModules.time.methods, KanoModules.loop.methods, KanoModules.global.methods, KanoModules.speaker.methods, KanoModules.data.methods, KanoModules.math.methods, KanoModules.colour.methods, KanoModules.mouse.methods);

                    }
                });
            </script>


<dom-module id="kano-view-preview">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host kano-user-component {
            @apply(--layout-flex);
        }
    </style>
    <template>
        <kano-user-component></kano-user-component>
    </template>
</dom-module>

<script>
    class KanoViewPreview {
        beforeRegister () {
            this.is = 'kano-view-preview';
        }
    }
    Polymer(KanoViewPreview);
</script>
