<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../elements/behaviors/kano-view-behavior.html">

<dom-module id="kano-view-demo">
    <style>
        :host {
            display: block;
            background-color: #fafafa;
            @apply(--layout-vertical);
            @apply(--layout-center);
        }
        paper-card {
            --paper-card-header-color: white;
            margin: 12px;
            font-family: Bariol;
        }
        paper-button {
            font-family: Bariol;
            color: black;
            text-decoration: none;
        }
        .apps {
            @apply(--layout-horizontal);
            @apply(--layout-wrap);
            @apply(--layout-around-justified);
        }
        .apps paper-card {
            width: 30%;
        }
        .make paper-card {
            --paper-card-header-color: black;
        }
    </style>
    <template>
        <div class="make">
            <paper-card image="/assets/kano-code-logo.svg">
                <div class="card-actions">
                    <a href$="/?mode=[[mode]]" tabindex="-1">
                        <paper-button>Make</paper-button>
                    </a>
                </div>
            </paper-card>
        </div>
        <div class="apps">
            <template is="dom-repeat" items="[[apps]]" as="app">
                <paper-card heading="[[app.label]]" image="/assets/demo-apps/[[app.id]].png">
                    <div class="card-content"></div>
                    <div class="card-actions">
                        <paper-button on-tap="_loadApp">Open</paper-button>
                    </div>
                </paper-card>
            </template>
        </div>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-demo',
        behaviors: [Kano.Behaviors.ViewBehavior],
        ready () {
            let groupedApps = {
                'lightboard': [{
                    id: 'alarm',
                    label: 'Alarm'
                }, {
                    id: 'alarm-2',
                    label: 'Alarm 2'
                }, {
                    id: 'cnn',
                    label: 'CNN'
                }, {
                    id: 'game_bouncy',
                    label: 'Bouncy'
                }, {
                    id: 'game_racing',
                    label: 'Racing'
                }, {
                    id: 'gmeter',
                    label: 'G-Meter'
                }, {
                    id: 'heartbeat',
                    label: 'Heartbeat'
                }, {
                    id: 'mouth',
                    label: 'Talking Robot'
                }, {
                    id: 'rainbow',
                    label: 'Rainbow'
                }, {
                    id: 'soundwave',
                    label: 'Sound Wave'
                }, {
                    id: 'sports_score',
                    label: 'Sport Score'
                }, {
                    id: 'weather_anims',
                    label: 'Weather Animations'
                }, {
                    id: 'weather_with_temp',
                    label: 'Weather with Temperature'
                }, {
                    id: 'weather_with_umbrella warning',
                    label: 'Weather with warning'
                }, {
                    id: 'light-bell',
                    label: 'Light Bell'
                }, {
                    id: 'light-sounds',
                    label: 'Sounds near'
                }],
                'camera': [{
                    id: 'clap-to-snap',
                    label: 'Clap to Snap'
                }, {
                    id: 'gif-maker',
                    label: 'Gif Forge'
                }, {
                    id: 'kaleidoscope-prism',
                    label: 'Prism-o-vision'
                }, {
                    id: 'simple-pic',
                    label: 'Simple Snap'
                }, {
                    id: 'music-power',
                    label: 'Gesture beats'
                }
                ],
                'normal': []
            };
            this.mode = this._getMode(this.context);
            this.apps = groupedApps[this.mode];
        },
        _loadApp (e) {
            let app = e.model.get('app');
            fetch(`/assets/demo-apps/${app.id}.json`)
                .then(r => r.json())
                .then(appJson => {
                    localStorage.setItem(`savedApp-${appJson.mode}`, JSON.stringify(appJson));
                    page.redirect(`/?mode=${appJson.mode}`);
                });
        },
        _getMode (context) {
            let modeFromQs = Kano.Util.Router.parseQsParam(this.context.querystring, 'mode');
            return modeFromQs ? modeFromQs : 'normal';
        },
    });
</script>
