# OSX
**.DS_Store

#Editor specific
.vscode

# Node.js
node_modules
npm-debug.log

# App
.tmp
www
www-doc
assets.tar.gz
**.swp
tmp/**
app/po/**/*.pot
dump.rdb

test-results.xml
coverage
kc
*.log

eslint.xml
docs
dist
.terraform
*.tfstate
*.tfstate.backup
