# OSX
**.DS_Store

#Editor specific
.vscode

# Node.js
node_modules
npm-debug.log
yarn.lock

# App
app/bower_components
.tmp
www
www-doc
assets.tar.gz
**.swp
tmp/**
app/po/**/*.pot

app/elements/external-play-bundle.html
dump.rdb

test-results