html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.blocklyToolboxDiv,
.blocklyFlyoutBackground {
    background-color: #aaa !important;
    fill: #aaa !important;
}

@keyframes zoom-in {
    0%     { opacity: 0; transform: scale(0.1); },
    100%   { opacity:1; transform: scale(1); }
}
@keyframes zoom-out {
    0%   { opacity:1; transform: scale(1); }
    100%     { opacity: 0; transform: scale(0.1); },
}

button {
    @apply(--kano-button);
}
