<link rel="import" href="../../scripts/kano/make-apps/mode/mode.html">
<link rel="import" href="../../scripts/kano/make-apps/hardware-api.html">
<link rel="import" href="../../scripts/kano/make-apps/utils.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">
<link rel="import" href="../../scripts/kano/make-apps/stories.html">
<link rel="import" href="../../elements/behaviors/kano-editor-view-behavior.html">
<link rel="import" href="../../elements/behaviors/kano-sharing-behavior.html">
<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/kano-story-scene/kano-story-scene.html">
<link rel="import" href="../../elements/behaviors/kano-tracking-behavior.html">
<link rel="import" href="../../scripts/kano/make-apps/progress.html">

<dom-module id="kano-view-story">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host kano-story-scene {
            @apply(--layout-flex);
        }
        paper-dialog {
            border-radius: 5px;
        }
        @media screen and (max-width: 1200px) {
            #share-modal {
                max-width: 900px;
            }
        }
        @media screen and (max-width: 960px) {
            #share-modal {
                max-width: 330px;
            }
        }
    </style>
    <template>
        <kano-story-scene id="story-scene" scene="{{scene}}" on-scene-done="nextScene" story-name="{{story.name}}" next-story="{{story.next}}" extensions="[[story.extensions]]" on-extend-story="extendStory" on-next-story="nextStory" on-share="share"></kano-story-scene>
        <paper-dialog id="share-modal" with-backdrop>
            <kano-share-modal on-confirm="confirmShare"
                              on-dismiss="dismissShare"
                              share-info="{{shareInfo}}"
                              world-url="[[config.WORLD_URL]]"
                              is-authenticated="[[user]]"></kano-share-modal>
      </paper-dialog>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano, page */
    Polymer({
        is: 'kano-view-story',
        behaviors: [
            Kano.Behaviors.ViewBehavior,
            Kano.Behaviors.SharingBehavior,
            Kano.Behaviors.TrackingBehavior
        ],
        properties: {
            selected: {
                type: Number,
                value: 0,
                observer: 'selectedChanged'
            },
            story: {
                type: Object,
                observer: 'selectedChanged'
            }
        },
        ready () {
            let hardwareAPI = new Kano.MakeApps.HardwareAPI();
            this.modal = this.$['share-modal'];

            hardwareAPI.config(Kano.MakeApps.config);

            Kano.AppModules.init(Object.assign({ hardwareAPI }, Kano.MakeApps.config));
            Kano.MakeApps.Blockly.init(Kano.MakeApps.config);
            Kano.MakeApps.Mode.init(Kano.MakeApps.config);
        },
        attached () {
            Kano.MakeApps.Stories.getById(this.context.params.id)
                .then((story) => {
                    if (typeof story.next === 'string') {
                        return Kano.MakeApps.Stories.getById(story.next)
                            .then((nextStory) => {
                                story.next = nextStory;
                                return story;
                            })
                            .catch(() => {
                                return story;
                            });
                    }
                    return story;
                })
                .then((story) => {
                    this.story = story;
                    if (story.progress) {
                        return Kano.MakeApps.Progress.loadProgress(story.progress.group);
                    }
                })
                .then((progress) => this.updateExtensions(progress));
        },
        updateExtensions (progress) {
            let story = this.story,
                extensions = story.extensions,
                progressGroup = story.progress && progress[story.progress.group] || {},
                progressExtensions = progressGroup.extensions;
            if (story.extensions && progressExtensions) {
                for (let i = 0, len = extensions.length; i < len; i++) {
                    if (progressExtensions.indexOf(extensions[i].id) !== -1) {
                        this.set(`story.extensions.${i}.completed`, true);
                    }
                }
            }
        },
        isSelected (index) {
            return index === this.selected;
        },
        nextScene () {
            this.trackUserProgress(this.story.id);
            if (this.selected < this.story.scenes.length - 1) {
                this.selected++;
            } else {
                //story completed!!!
                let progress = this.story.progress,
                    extension = this.story.extension ? this.story.id : null,
                    headers = new Headers(),
                    ev;
                Kano.MakeApps.Progress.updateProgress(progress.group, progress.storyNo, extension, this.story.id)
                    .then((progress) => this.updateExtensions(progress));
                // @next feature (Gamification)
                if (!Kano.MakeApps.sdk.auth.getToken()) {
                    return;
                }
                headers.append('Content-Type', 'application/json');
                headers.append('Authorization', Kano.MakeApps.sdk.auth.getToken());
                ev = {
                    name: 'kano-code-challenge-completed',
                    detail: {
                        id: this.story.id
                    }
                };
                fetch(`${Kano.MakeApps.config.API_URL}/progress`, {
                    method: 'POST',
                    headers,
                    body: JSON.stringify(ev)
                }).then(r => r.json())
                .then(res => {
                    // Here, consume the reponse to display level up animations, xp reward and badges
                });
            }
        },
        selectedChanged () {
            if (!this.story) {
                return;
            }
            Kano.MakeApps.Stories.getSceneByIndex(this.story, this.selected)
                .then((scene) => {
                    this.set('scene', scene);
                    this.set('scene.modeConfig', {
                        HOST: Kano.Util.Router.parseQsParam(this.context.querystring, 'host'),
                        PORT: Kano.Util.Router.parseQsParam(this.context.querystring, 'port')
                    });
                });
        },
        extendStory (e) {
            let extensionId = e.detail;
            page.redirect(`/story/${extensionId}`);
        },
        nextStory (e) {
            let storyId;
            if (!this.story.next) {
                location.href = Kano.MakeApps.config.WORLD_URL + "/projects";
                return;
            }
            storyId = this.story.next.id;
            page.redirect(`/story/${storyId}`);
        }
    });
</script>
