<link rel="import" href="../../elements/kano-share-modal/kano-share-modal.html">
<link rel="import" href="../../elements/kano-story-scene/kano-story-scene.html">
<dom-module id="kano-view-story">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host kano-story-scene {
            @apply(--layout-flex);
        }
    </style>
    <template>
        <kano-story-scene scene="{{scene}}" on-scene-done="nextScene" on-share="share" story-name="{{story.name}}" next-story="{{story.next}}"></kano-story-scene>
        <paper-dialog id="share-modal" with-backdrop>
            <kano-share-modal on-confirm="confirmShare"
                              on-dismiss="dismissShare"
                              share-info="{{shareInfo}}"></kano-share-modal>
        </paper-dialog>
    </template>
</dom-module>

<script src="./kano-view-story.js"></script>
