<link rel="import" href="../../scripts/kano/make-apps/experiments.html">
<link rel="import" href="../../scripts/kano/make-apps/store.html">
<link rel="import" href="../../scripts/kano/make-apps/mode/normal.html">
<link rel="import" href="../../scripts/kano/make-apps/mode/light.html">
<link rel="import" href="../../scripts/kano/make-apps/mode/simple.html">
<link rel="import" href="../../scripts/kano/make-apps/mode/camera.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">
<link rel="import" href="../../elements/behaviors/kano-view-behavior.html">
<link rel="import" href="../../../../paper-toggle-button/paper-toggle-button.html">

<dom-module id="kano-view-flags">
    <template>
        <style>
            :host {
                display: block;
                padding: 7px;
            }
            .refresh-link {
                text-transform: uppercase;
                color: yellow;
                padding: 4px;
                text-decoration: none;
            }
            .heading {
                background-color: #acacf9;
                border-top: 1px solid #505088;
                padding: 12px;
                margin-bottom: 4px;
            }
            .line {
                width: 100%;
                padding: 7px;
                background-color: lightgrey;
                border-bottom: 1px solid grey;
                @apply(--layout-horizontal);
            }
            .details {
                @apply(--layout-flex);
            }
            .sub-heading {
                margin-bottom: 0px;
            }
            .info {
                margin-top: 0px;
            }
            h4 {
                margin: 0px;
            }
            .contains {
                text-decoration: underline;
            }
        </style>
        <h1>Careful, these experiments may bite!</h1>
        <div class="heading">Experiments</div>
        <template is="dom-repeat" items="[[available]]" as="exp">
            <div>
                <div class="line">
                    <div class="details">
                        <h4>[[_labelFilter(exp.id)]]</h4>
                        <span class="contains">Contains:</span><span> [[exp.groups]]</span>
                    </div>
                    <paper-toggle-button checked="[[_isEnabled(exp.id)]]" on-change="_expChanged"></paper-toggle-button>
                </div>
            </div>
        </template>
        <paper-toast id="toast" text="Your changes will be effective upon refresh" duration="0">
            <a href="#" on-tap="_refresh" class="refresh-link">Refresh</a>
        </paper-toast>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-flags',
        behaviors: [
            Kano.Behaviors.ViewBehavior,
            Kano.MakeApps.Store.ReceiverBehavior,
        ],
        ready () {
            const { config } = this.getState();
            Kano.MakeApps.Parts.init(config);
            Kano.AppModules.init(config);
            Kano.MakeApps.Blockly.init(config);
            this.flags = Kano.MakeApps.experiments.getFlags();
            this.available = Object.keys(Kano.MakeApps.experiments.FLAGS.available).map(key => {
                return {
                    id: key,
                    groups: Kano.MakeApps.experiments.FLAGS.available[key].join(', ')
                };
            });
            this.changed = false;
            this.labels = {
                lightboard: 'Lightboard support',
                camera: 'Camera support',
                canvas: 'Canvas part from Make Art',
                fun: 'Fun blocks',
                keyboard_events: 'Keyboard events',
                dongles: 'K2 Sensors',
                gamification_modal: 'Gamification XP modal'
            };
        },
        _notifyReload () {
            if (!this.changed) {
                this.$.toast.show();
                this.changed = true;
            }
        },
        _isEnabled (exp) {
            return this.flags.experiments && this.flags.experiments.indexOf(exp) !== -1;
        },
        _expChanged (e) {
            let exp = e.model.get('exp.id'),
                index;
            this.flags.experiments = this.flags.experiments || [];
            index = this.flags.experiments.indexOf(exp);
            if (index !== -1) {
                this.flags.experiments.splice(index, 1);
            } else {
                this.flags.experiments.push(exp);
            }
            Kano.MakeApps.experiments.updateFlags(this.flags);
            this._notifyReload();
        },
        _refresh (e) {
            e.preventDefault();
            location.reload();
        },
        _labelFilter (id) {
            return this.labels[id] || id;
        }
    });
</script>
