<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<dom-module id="kano-view-workshop">
    <style>
    :host {
        display: block;
        @apply(--layout-vertical);
    }
    :host kano-app-editor {
        @apply(--layout-flex);
    }
    </style>
    <template>
        <kano-app-editor
            id="editor"
            running="{{running}}"
            parts="{{parts}}"
            codes="{{codes}}"
            added-parts="{{addedParts}}"
            default-categories="[[defaultCategories]]"
            ws-size="[[size]]"></kano-app-editor>
    </template>
</dom-module>

<script type="text/javascript">
    class KanoViewWorkshop {
        beforeRegister () {
            this.is = 'kano-view-workshop';
            this.properties = {
                addedParts: {
                    type: Array,
                    value: () => {
                        return [];
                    }
                },
                codes: {
                    type: Object,
                    value: () => {
                        return {};
                    }
                },
                running: {
                    type: Boolean,
                    observer: 'runningChanged'
                },
                usedBlocks: {
                    type: Object
                }
            };
        }
        attached () {
            let editor = this.$.editor,
                savedApp = JSON.parse(localStorage.getItem('savedApp'));
            this.set('parts', app.part);
            this.set('user', app.sdk.auth.getUser());
            this.set('size', app.config.WORKSPACE_FULL_SIZE);
            app.registerBlockly(window.Blockly);
            this.set('defaultCategories', app.defaultCategories);
            editor.addEventListener('ws-update', this.updateWorkspaceRect.bind(this));
            editor.addEventListener('share', this.shareApp.bind(this));
            editor.addEventListener('change', this.save.bind(this));
            editor.load(savedApp, app.part);
        }
        updateWorkspaceRect (rect) {
            app.dragAndDrop.setWorkspaceRect(rect);
        }
        save () {
            // Save after 3secs without changes
            this.debounce('save', () => {
                let editor = this.$.editor,
                    savedApp = editor.save();
                localStorage.setItem('savedApp', JSON.stringify(savedApp));
            }, 3000);
        }
        shareApp (e) {
            // Generates the standalone component
            let savedApp = app.components.generateStandaloneComponent(this.addedParts, this.size),
                attachment = new Blob([savedApp], { type: 'text/html' }),
                cover = app.file_utils.dataURItoBlob(e.detail.image),
                workspace_info = new Blob([e.detail.workspace_info], { type: 'application/json' });

            attachment.filename = 'code.html';
            cover.filename = 'cover.png';
            workspace_info.filename = 'workspace_info.json';

            //Share by calling the API
            app.sdk.api.share.post({
                app: 'make-apps',
                title: e.detail.title,
                description: e.detail.description,
                files: {
                    attachment: attachment,
                    cover: cover,
                    workspace_info: workspace_info
                }
            }).then(() => {
                modal.close();
            });
        }
        uiAddedParts () {
            return this.addedParts.filter((part) => {
                return part.partType === 'ui';
            });
        }
        /**
         * When the current code changes, save it in the components store
         * @param  {Event} e  Informations about the code updated
         */
        codeChanged (e) {
            let data = e.detail;
            // Add the new code and its rule to the components store
            app.components.setCode(data.id, data.emitter, data.event, data.code);
        }
        detached () {
            window.removeEventListener('resize', this.updateWorkspaceRect.bind(this));
        }
        runningChanged () {
            if (this.running) {
                app.components.run(this.addedParts, this.codes);
            } else {
                app.components.stop(this.addedParts, this.codes);
            }
        }
    }
    Polymer(KanoViewWorkshop);
</script>
