Source: make-apps
Maintainer: Team Kano <dev@kano.me>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), node (>= 4.2.1-1)

Package: make-apps
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, kano-toolset (>= 1.3-8),
    kano-profile (>= 1.3-2), python-flask
Suggests: kano-video-files (>= 1.2-1)
Description: Local version of Make Apps
 This package contains a local build of Make Apps for Kano OS.
