#!/usr/bin/make -f

export PATH := /usr/local/bin/:$(PATH)

%:
	dh $@

override_dh_auto_build:
	curl --silent --location https://deb.nodesource.com/setup_4.x | bash -
	apt-get install --yes nodejs
	npm install
	node_modules/.bin/bower install --allow-root
	NODE_ENV=production DEPLOY=rpi ./node_modules/.bin/gulp build

override_dh_auto_install override_dh_auto_test:
