<dom-module id="kano-view-stories">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
            @apply(--layout-center);
            background-color: var(--color-grey-darker);
        }
        :host a:hover,
        :host a:visited,
        :host a:link,
        :host a:active {
            text-decoration: none;
        }
        :host h1 {
            color: var(--color-white, white);
            font-weight: 400;
        }
        :host .stories {
            @apply(--layout-horizontal);
            @apply(--layout-wrap);
            @apply(--layout-center);
            @apply(--layout-center-justified);
            @apply(--layout-flex);
        }
        :host .block {
            width: 30%;
            @apply(--layout-vertical);
            @apply(--layout-center);
            margin-bottom: 20px;
        }
        :host .story {
            display: inline-block;
            @apply(--layout-vertical);
            @apply(--layout-center);
            border-radius: 4px;
            overflow: hidden;
            @apply(--shadow-elevation-2dp);
        }
        :host .story:hover {
            cursor: pointer;
        }
        :host .story .story-image {
            width: 250px;
            height: 250px;
        }
        :host .story .info {
            @apply(--layout-horizontal);
            width: 100%;
            padding: 10px;
            background: var(--color-white, white);
        }
        :host .story .story-name {
            color: var(--color-black, black);
            font-size: 1.3em;
        }
    </style>
    <template>
        <h1>Projects</h1>
        <div class="stories">
            <template is="dom-repeat" items="{{stories}}" as="story">
                <div class="block">
                    <a class="story" href="/story/{{story.id}}">
                        <iron-image src="{{story.image}}" fade sizing="cover" class="story-image"></iron-image>
                        <div class="info">
                            <div class="story-name">{{story.name}}</div>
                            <iron-image></iron-image>
                        </div>
                    </a>
                </div>
            </template>
        </div>
    </template>
</dom-module>

<script src="./kano-view-stories.js"></script>
