<dom-module id="kano-view-stories">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host .stories {
            @apply(--layout-horizontal);
            @apply(--layout-wrap);
            @apply(--layout-center);
            @apply(--layout-flex);
        }
        :host .story {
            padding: 40px;
            @apply(--layout-vertical);
        }
        :host .story:hover {
            cursor: pointer;
        }
        :host .story iron-image {
            width: 100px;
            height: 100px;
        }
    </style>
    <template>
        <div class="stories">
            <template is="dom-repeat" items="{{stories}}" as="story">
                <a class="story" href="/story/{{story.id}}">
                    <iron-image src="{{story.image}}" fade sizing="cover"></iron-image>
                    <label>{{story.name}}</label>
                </a>
            </template>
        </div>
    </template>
</dom-module>

<script src="./kano-view-stories.js"></script>
