<link rel="import" href="../../elements/home-bundle.html">
<dom-module id="kano-view-apps">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
            @apply(--layout-center);
            background-color: #DCDCDC;
        }
        :host kano-nav-bar {
            width: 100%;
            display: block;
            z-index: 1;
            /* Hi safari, how are you? */
            flex-shrink: 0
        }
        /* Hi safari, glad to see you again */
        :host ::content kano-nav-bar .center {
            flex: 2 !important;
        }
        :host ::content kano-nav-bar .link i {
            align-self: center;
            margin-left: 4px;
        }
        /* FIXME investigate that later */
        :host ::content kano-nav-bar button {
            font-family: bariol !important;
        }
        /* FIXME investigate that later */
        :host ::content kano-nav-bar .user-avatar {
            width: 44px !important;
            height: 44px !important;
        }
        :host a:hover,
        :host a:visited,
        :host a:link,
        :host a:active {
            text-decoration: none;
            color: #4B4B4B;
        }
        :host h1 {
            color: #4B4B4B;
            font-weight: 600;
            text-align: center;
        }
        :host .container {
            width: 100%;
            padding: 0 35px;
        }
        :host .logo-holder {
            width: 100%;
            text-align: center;
        }
        :host .back-to-home {
            float:left;
            font-size: 14px;
            font-weight: 600;
            margin-top: 45px;
            position: absolute;
        }
        @media screen and (min-width: 550px) {
            .container {
                padding: 0 100px;
            }
            .logo-holder {
                text-align: left;
            }
        }
    </style>
    <template>
        <kano-nav-bar user="[[user]]" xp="[[user.profile.xp]]" assets-path="/assets/navbar/" notifications="[[_computeNotifications(user.notifications)]]" world-root="[[worldRoot]]" default-avatar="/assets/avatar/judoka_1_white_circular.png"></kano-nav-bar>
        <div class="container">
            <a href="/" class="back-to-home">&lt; Home</a>
            <h1>{{appListHeader}}</h1>
            <kano-app-list view="[[view]]" apps="[[apps]]"></kano-app-list>
        </div>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-apps',
        behaviors: [Kano.Behaviors.NavBarViewBehavior],
        properties: {
            view: {
                type: String
            },
            appListHeader: {
                type: String
            }
        },
        observers: [
            "_userChanged(user, view)"
        ],
        _userChanged () {
            if (!this.user || !this.view) {
                return null;
            }

            if (this.view === 'my') {
                Kano.MakeApps.sdk.api.share.list({}, { app_name: 'make-apps', user_id: this.user.id})
                .then((apps) => {
                    this.set('apps', apps.body.entries);
                });
            } else {
                Kano.MakeApps.sdk.api.share.list({}, { app_name: 'make-apps' })
                .then((apps) => {
                    this.set('apps', apps.body.entries);
                });
            }
        },
        attached () {
            let view = this.context.params.view,
                appListHeader = 'Apps';

            if (view === 'my') {
                appListHeader = 'My Apps';
            } else {
                view = 'all';
            }

            this.appListHeader = appListHeader;
            this.view = view;
        },
        _computeNotifications (notifications) {
            return notifications || [];
        }
    });
</script>
