.blocklyPathDark,
.blocklyPathLight
    fill: transparent !important
    stroke-width: 0px !important

.blocklySelected>.blocklyPath
    stroke-width: 1px !important
    stroke: rgba(0,0,0,0.5) !important
    stroke-linejoin: round !important

.blocklyHighlightedConnectionPath
    stroke-width: 2px !important

text.blocklyText
    font-family: bariol
    font-size: 1em

.blocklyEditableText:hover>rect
    stroke-width: 1px !important

.blocklyEditableText .blocklyText
    font-size: 1em !important

div.blocklyTreeRoot
    padding: 0px

.blocklyTreeLabel
    font-family: bariol !important
    font-size: 1.3em !important

div.blocklyTreeRow
    height: auto !important
    line-height: 20px !important
    padding: 10px 0px
    margin: 0px
    color: white
    text-align: center
    font-size: 1em

span.blocklyTreeIcon
    width: 0px

.blocklyWidgetDiv .goog-menu
    border-color: black !important
    border-radius: 4px !important

.blocklyWidgetDiv .goog-menuitem-content
    font: normal 1.5em bariol, Arial !important
