@import 'pure/grids'
@import 'pure/grids-responsive'
@import './slider'
@import './blockly'

html, body
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh

html
    box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

@keyframes zoom-in
    0%
        opacity: 0; transform: scale(0.1)
    100%
        opacity:1; transform: scale(1)

@keyframes zoom-out
    0%
        opacity:1; transform: scale(1)
    100%
        opacity: 0; transform: scale(0.1)
