html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

kano-app {
    flex: 1;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.blocklyWidgetDiv .goog-menu {
    border-color: black !important;
    border-radius: 4px !important;
}

.blocklyWidgetDiv .goog-menuitem-content {
    font: normal 1.5em bariol, Arial !important;
}

.loader {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Arial;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-in ease-in-out 300ms;
    background-color: white;
}

.loader.animate-out {
    animation: fade-out ease-in 300ms;
}

#title.animate-breathe {
    animation: breathe ease-in 2s infinite;
}

#title {
    font-family: monospace;
    font-size: 60px;
}

.message-board {
    max-width: 600px;
    text-align: center;
    font-size: 30px;
}

paper-dialog {
    border-radius: 3px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes zoom-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes breathe {
    0% {
        opacity: 0.55;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.55;
    }
}
