html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

kano-app {
    flex: 1;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.blocklyWidgetDiv .goog-menu {
    border-color: black !important;
    border-radius: 4px !important;
}

.blocklyWidgetDiv .goog-menuitem-content {
    font: normal 1.5em bariol, Arial !important;
}

.splash {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #263238;
    z-index: 101;
    transition: opacity ease-in-out 300ms;
    opacity: 1;
}

.splash .blocks {
    margin: auto;
    width: 120px;
    height: 120px;

    display: flex;
    flex-direction: column;

    animation: fade-in .3s;
    transition-timing-function: ease-in;
}

.splash .line {
    width: 100%;

    transform-origin: center;

    display: flex;
}

.splash .block {
    opacity: 1;
    border-radius: 2px;

    background-color: rgba(0,0,0,0.5);

    margin: 2px;
    width: 10px;
    height: 12px;
}

/* The alert message box */
.splash .alert {
    padding: 20px;
    background-color: #263238;
    color: #fff;
    margin: 15px;
    font-size: large;
    font-family: 'Bariol', Helvetica, Arial, sans-serif;
    transition: opacity .6s;
    transition: opacity .6s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* The close button */
.splash .continue-btn {
    background-color: rgb(253, 150, 38);
    border: none;
    color: #fff;
    font-family: 'Bariol', Helvetica, Arial, sans-serif;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

@keyframes splash-block-pop-in {
    0% { transform: scale(0, 1); opacity: 0.5; }
    90% { transform: scale(1.1, 1); opacity: 1.0; }
    100% { transform: scale(1, 1); }
}

.splash .last {
    animation: splash-block-pop-in .2s;
    transform-origin: left;
    transition-timing-function: ease-in;
}

paper-dialog {
    border-radius: 3px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes logo-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}

@keyframes breathe {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.55;
    }
    100% {
        opacity: 1;
    }
}
