html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

kano-app {
    flex: 1;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.blocklyWidgetDiv .goog-menu {
    border-color: black !important;
    border-radius: 4px !important;
}

.blocklyWidgetDiv .goog-menuitem-content {
    font: normal 1.5em bariol, Arial !important;
}

.loader {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Arial;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    animation: fade-in ease-in-out 300ms;
    background-color: #fbfbfb;
    z-index: 101;
}
@media screen and (max-width: 960px) {
    .loader {
        flex-direction: column;
    }
    .text {
        align-items: center;
    }
    .message-board {
        text-align: center;
    }
    .loader-img {
        margin-bottom: 22px;
        margin-right: 0px !important;
    }
}

.loader-img {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-right: 22px;
    border-radius: 4px;
    width: 160px;
    height: 160px;
}

.loader-img.animate-out {
    animation: logo-out ease-in 400ms;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
}

.loader.animate-out {
    animation: fade-out ease-in 400ms;
}

#title.animate-breathe {
    animation: breathe ease-in 2s infinite;
}

#title {
    font-family: monospace;
    font-size: 48px;
    margin: 0px;
    margin-bottom: 12px;
}

.message-board {
    max-width: 440px;
    font-size: 18px;
    flex: 1;
}

paper-dialog {
    border-radius: 3px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoom-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes logo-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}

@keyframes breathe {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.55;
    }
    100% {
        opacity: 1;
    }
}
