<dom-module id="kano-view-share-modal">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
            padding: 20px 20px 5px 20px;
        }
        :host button {
            @apply(--kano-button-small);
            margin-left: 5px;
        }
        :host button.share {
            background: var(--green-gradient, green);
        }
    </style>
    <template>
        <label>Title</label>
        <input type="text" value="{{title::change}}">
        <label>Description</label>
        <textarea rows="8"
                cols="40"
                value="{{description::change}}"></textarea>
        <img src="{{imageUrl}}">
        <div class="buttons">
            <button on-tap="dismiss">Cancel</button>
            <button on-tap="share" class="share">Share</button>
        </div>
    </template>
</dom-module>

<script>
    class KanoShareModal {
        beforeRegister () {
            this.is = 'kano-view-share-modal';
            this.properties = {
                title: {
                    type: String
                },
                description: {
                    type: String
                },
                imageUrl: {
                    type: String,
                    notify: true
                }
            };
        }

        ready () {
            //set the imageUrl when the image has been generated
            document.addEventListener('imagegenerated', (e) => {
                this.imageUrl = e.detail.image.src;
            });
        }

        share () {
            this.fire('confirm', {
                title: this.title,
                description: this.description,
                image: this.imageUrl
            });
        }

        dimiss () {
            this.fire('dismiss');
        }
    }
    Polymer(KanoShareModal);
</script>
