<!-- FIXME This view previously used the kano-scene-editor element. Now we need a similar structure to what we have in kano-view-story to make this work again -->

<link rel="import" href="../../../../polymer/polymer.html">
<link rel="import" href="../../../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/kano-app-challenge/kano-app-challenge.html">
<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/behaviors/kano-editor-view-behavior.html">
<link rel="import" href="../../elements/behaviors/kano-modal-animator-behavior.html">
<link rel="import" href="../../scripts/kano/make-apps/hardware-api.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/make-apps/challenge.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">
<link rel="import" href="../../scripts/kano/make-apps/sdk.html">
<link rel="import" href="../../scripts/kano/make-apps/debug/challenge.html">
<link rel="import" href="../../scripts/kano/make-apps/store.html">

<dom-module id="kano-view-tutorial">
    <template>
        <style>
            :host {
                position: relative;
                @apply --layout-vertical;
                @apply --font-body;
            }
            :host kano-app-challenge {
                @apply --layout-flex;
            }
            :host kano-app-editor {
                @apply --layout-flex;
            }
            :host paper-dialog {
                border-radius: 5px;
            }
            :host kano-scene-editor {
                height: 100%;
            }
            :host button {
                @apply --kano-button;
                background-color: var(--color-green);
            }
            :host button[disabled] {
                color: #bbb;
                background-color: var(--color-grey);
            }
            :host *[hidden] {
                display: none !important;
            }
            :host .start-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background: rgba(0, 0, 0, 0.5);

                @apply --layout-vertical;
            }
            :host .start-overlay.hidden {
                display: none;
            }
            :host .start-overlay .wrapper {
                margin: auto;
                border-radius: 5px;
                background: #ffffff;
                padding: 20px;
                @apply --layout-center-justified;
                @apply --layout-center;
            }
            :host #drop-target {
                background-color: #ccc;
                border-radius: 5px;
                height: 100px;
                text-align: center;

                @apply --layout-center-justified;
                @apply --layout-center;
                @apply --layout-vertical;
            }
            :host #drop-target.active {
                background-color: #888;
            }
            :host .start-overlay .buttons {
                margin-top: 20px;
            }
            .block-highlighter-container {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                display: none;
            }
            .block-highlighter-container path,
            .block-highlighter-container rect {
                fill: var(--color-sky);
                fill-opacity: 0.6;
            }
        </style>
        <template is="dom-if" if="[[loaded]]" on-dom-change="_editorDomChanged">
            <kano-app-challenge id="challenge"
                                steps="[[scene.steps]]"
                                mode-ready="[[modeReady]]"
                                step="{{currentStep}}"
                                started="[[scene.started]]"
                                idle="[[story.paused]]"
                                selected-step="{{selectedStep}}"
                                state="{{state}}"
                                scene-variables="{{sceneVariables}}"
                                on-scene-done="_showEndModal"
                                on-next-story="goToNextStory"
                                on-save="saveApp"
                                on-save-to-storage="saveToStorage"
                                on-load="loadApp">
                <kano-app-editor id="editor"
                                 added-parts="{{addedParts}}"
                                 parts="[[parts]]"
                                 default-categories="[[categories]]"
                                 slot="editor"
                                 running="{{running}}"
                                 code="{{code}}"
                                 mode="[[mode]]"
                                 on-share="_pauseAndShare"
                                 on-lockdown-clicked="_notifyBanner">
                    <div slot="above-code">
                        <kano-editor-banner id="banner"
                                            head="[[banner.head]]"
                                            text="[[banner.text]]"
                                            img-src="[[banner.icon]]"
                                            img-page="[[banner.imgPage]]"
                                            button-label="[[banner.buttonLabel]]"
                                            on-button-tapped="_bannerButtonTapped"></kano-editor-banner>
                    </div>
                    <div class="progress" slot="under-code">
                        <div class="bar" id="bar"></div>
                        <div class="bar-content">
                            <iron-icon class="bolt" src="/assets/icons/lightning.svg"></iron-icon>
                            <div class="story-name">[[story.name]]</div>
                        </div>
                    </div>
                </kano-app-editor>
            </kano-app-challenge>
        </template>
        <div class$="start-overlay {{_computeOverlayClass(testing)}}">
            <div class="wrapper">
                <div id="drop-target"
                     on-dragover="_dragOver"
                     on-drop="_drop"
                     on-dragenter="_dragEnter"
                     on-dragleave="_dragLeave"
                     class$="{{_computeDropTargetClass(dragging)}}">
                    {{fileName}}
                </div>
                <div class="buttons">
                    <button class="test-button" on-tap="_startChallenge" disabled$="{{!file}}">Test Challenge</button>
                    <button class="download-button" on-tap="_downloadSteps" disabled$="{{!file}}">Download steps.json</button>
                </div>
            </div>
        </div>
        <paper-dialog class="challenge-modal" id="end-modal" modal>
          <h2>Well that's it!</h2>
          <div class="buttons">
              <button class="start-button" dialog-confirm>Got it</button>
          </div>
        </paper-dialog>
        <svg id="block-highlighter-svg" class="block-highlighter-container">
            <path id="block-highlighter"></path>
            <rect id="element-highlighter"></rect>
        </svg>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano, page */
    Polymer({
        is: 'kano-view-tutorial',
        behaviors: [
            Kano.Behaviors.ModalAnimatorBehavior,
            Kano.Behaviors.EditorViewBehavior,
            Kano.Behaviors.AppElementRegistryBehavior,
        ],
        listeners: {
            'challenge-ui-error': '_onChallengeUIError'
        },
        observers: [
            '_stepChanged(step)'
        ],
        properties: {
            app: {
                type: Object
            },
            file: {
                type: String,
                value: null,
                observer: '_fileChanged'
            },
            fileName: {
                type: String,
                value: 'Drop your .kcode or .json challenge file here'
            },
            dragging: {
                type: Boolean,
                value: false
            },
            testing: {
                type: Boolean,
                value: false
            },
            addedParts: {
                type: Array,
                observer: '_addedPartsChanged'
            }
        },
        _onModeReady () {
            Kano.Behaviors.EditorViewBehaviorImpl._onModeReady.apply(this);
            this.async(() => {
                this.initialContext = this._getCurrentEditorContext();
                this._updateContext();
            });
        },
        _debuggerConnected () {
            this._updateContext();
        },
        _stepChanged () {
            Kano.MakeApps.Debug.Challenge.step = this.step;
            this._updateContext();
        },
        _updateContext () {
            let editor = this.$$('#editor');
            if (editor) {
                let stepIds = editor.$.challenge.stepIds,
                    blockIds = editor.$.challenge.blockIds,
                    elementIds = this._getElementList(),
                    categoryIds;
                categoryIds = Object.keys(editor.editor.defaultCategories);
                categoryIds = categoryIds.concat(editor.editor.mode.categories.map(category => category.id));
                Kano.MakeApps.Debug.Challenge.updateChallengeContext({
                    stepIds,
                    blockIds,
                    elementIds,
                    categoryIds,
                    initial: this.initialContext,
                    steps: this.scene.steps,
                    stepIndex: this.step
                });
            }
        },
        _onChallengeUIError (e) {
            Kano.MakeApps.Debug.Challenge.setError({
                message: e.detail.message,
                selector: JSON.stringify(e.detail.detail, null, 4)
            });
        },
        _highlightElement (id) {
            this.debounce('highlightBlock', () => {
                let editor = this.$$('#editor');
                if (editor) {
                    let challengeUI = editor.$.challenge.$.ui,
                        el = challengeUI._getTargetElement(id),
                        rect;
                    if (el) {
                        this.$['block-highlighter-svg'].style.display = 'block';
                        this.$['element-highlighter'].style.display = 'block';
                        rect = el.getBoundingClientRect();
                        this.$['element-highlighter'].setAttribute('width', rect.width);
                        this.$['element-highlighter'].setAttribute('height', rect.height);
                        this.$['element-highlighter'].setAttribute('transform', `translate(${rect.left}, ${rect.top})`);
                    }
                }
            }, 10);
        },
        _highlightBlock (id) {
            this.debounce('highlightBlock', () => {
                let editor = this.$$('#editor');
                if (editor) {
                    let challengeUI = editor.$.challenge.$.ui,
                        el = challengeUI._getTargetElement({
                            block: { id }
                        }), path, blockRect, newBlockRect, scale;
                    if (el) {
                        this.$['block-highlighter-svg'].style.display = 'block';
                        this.$['block-highlighter'].style.display = 'block';
                        path = el.getAttribute('d');
                        this.$['block-highlighter'].setAttribute('d', path);
                        blockRect = el.getBoundingClientRect();
                        newBlockRect = this.$['block-highlighter'].getBoundingClientRect();
                        scale = blockRect.width / newBlockRect.width;
                        this.$['block-highlighter'].setAttribute('transform', `translate(${blockRect.left}, ${blockRect.top}) scale(${scale}, ${scale})`);
                    }
                }
            }, 10);
        },
        _blurBlock () {
            this.$['block-highlighter-svg'].style.display = 'none';
            this.$['block-highlighter'].style.display = 'none';
            this.$['element-highlighter'].style.display = 'none';
            this.$['block-highlighter'].removeAttribute('transform');
        },
        ready () {
            const { config } = this.getState();
            this.hardwareAPI = new Kano.MakeApps.HardwareAPI(config);

            Kano.AppModules.init(Object.assign({
                hardwareAPI: this.hardwareAPI,
                restartCodeHandler: () => {
                    this.$.editor.resetAppState();
                }
            }, config));

            Kano.MakeApps.Parts.init(config);
            Kano.MakeApps.Blockly.init(config);

            this.configureModal(this.$['end-modal'], 'scale-down');
            this.configureModal(this.$['end-modal'], 'fade-out');

            Kano.MakeApps.Debug.Challenge.on('update-step', (e) => {
                let path = e.path ? e.path.replace('step', '') : '';
                this.set(`scene.steps.${this.step}${path}`, e.value);
                this.debounce('forceReload', () => {
                    let editor = this.$$('#editor');
                    if (editor) {
                        editor.forceReloadStep();
                    }
                }, 200);
            });
            Kano.MakeApps.Debug.Challenge.on('connected', () => this._debuggerConnected());
            Kano.MakeApps.Debug.Challenge.on('highlight-block', (id) => this._highlightBlock(id));
            Kano.MakeApps.Debug.Challenge.on('blur-block', () => this._blurBlock());
            Kano.MakeApps.Debug.Challenge.on('highlight-element', (id) => this._highlightElement(id));
            Kano.MakeApps.Debug.Challenge.on('blur-element', () => this._blurBlock());
            Kano.MakeApps.Debug.Challenge.on('save-challenge', () => this._downloadSteps());
        },
        attached () {
            this.loaded = false;

            window.dumpChallenge = () => {
                return this.dumpChallenge();
            };
        },
        _addedPartsChanged () {
            this.hardwareAPI.setParts(this.addedParts);
        },
        dumpChallenge () {
            return JSON.stringify(this.challenge, null, '    ');
        },
        dumpSteps () {
            return JSON.stringify(this.scene, null, '    ');
        },
        _downloadSteps () {
            let a = window.document.createElement('a');
            a.href = window.URL.createObjectURL(new Blob([this.dumpSteps()], {type: 'application/json'}));
            a.download = 'steps.json';

            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        },
        _dragOver (e) {
            e.preventDefault();
            e.stopPropagation();
            e.dataTransfer.dropEffect = 'copy';
        },
        _drop (e) {
            let file;

            e.preventDefault();
            e.stopPropagation();

            file = e.dataTransfer.files[0];
            if (file) {
                this._readFile(file).then(content => {
                    this.fileName = file.name;
                    this.file = content;
                });
            }

            this._dragLeave();
        },
        _readFile (f) {
            return new Promise((resolve, reject) => {
                var reader = new FileReader();

                reader.onload = () => {
                    resolve(reader.result);
                };

                reader.onerror = reject;

                reader.readAsText(f);
            });
        },
        _dragEnter () {
            this.dragging = true;
        },
        _dragLeave () {
            this.dragging = false;
        },
        _computeDropTargetClass (dragging) {
            return dragging ? 'active' : '';
        },
        _computeOverlayClass (testing) {
            return testing ? 'hidden' : '';
        },
        _fileChanged (contents) {
            if (contents) {
                let app = JSON.parse(contents);
                if ('code' in app) {
                    // Likely to be an app
                    this.challenge = Kano.MakeApps.Challenge.createFromApp(app);
                } else if ('steps' in app) {
                    // Likely to be steps
                    this.challenge = { data: app };
                }

                this.scene = Object.assign({}, this.challenge.data);
                this.mode = Kano.MakeApps.Mode.modes[this.scene.mode];
                this.loaded = true;
                Kano.MakeApps.Debug.Challenge.loadChallenge(this.challenge);
                this._updateContext();
            }
        },
        _getCurrentEditorContext () {
            let editor = this.$$('#editor'),
                workspace, blocks;
            if (!editor) {
                return {};
            }
            workspace = editor.editor.getBlocklyWorkspace();
            blocks = workspace.getAllBlocks();
            return {
                parts: editor.editor.addedParts.map(part => part.id),
                blocks: blocks.map(block => block.id)
            };
        },
        _startChallenge () {
            this.set('scene.started', true);
            this.testing = true;
        },
        _showEndModal () {
            this.$['end-modal'].open();
        },
        _editorDomChanged () {
            let editor = this.$$('#editor');
            if (editor) {
                editor.animate([{
                    opacity: 0
                },{
                    opacity: 1
                }], {
                    duration: 500,
                    easing: 'ease-out'
                });
            }
        }
    });
</script>
