<link rel="import" href="../../elements/share-bundle.html">
<link rel="import" href="../../elements/story-bundle.html">
<link rel="import" href="../../elements/editor-bundle.html">
<link rel="import" href="../../elements/play-bundle.html">
<link rel="import" href="../../elements/tutorial-bundle.html">
<dom-module id="kano-view-tutorial">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
            font-family: Bariol;
        }
        :host kano-story-scene {
            @apply(--layout-flex);
        }
        paper-dialog {
            border-radius: 5px;
        }
        kano-scene-editor {
            height: 100%;
        }
        button {
            @apply(--kano-button);
            background-color: var(--color-green);
        }
        *[hidden] {
            display: none !important;
        }
        .challenge-modal {
            max-width: 514px;
        }
        .challenge-modal iron-image {
            width: 100%;
            height: 384px;
        }
        .challenge-modal div.buttons {
            @apply(--layout-center-justified);
        }
    </style>
    <template>
        <template is="dom-if" if="[[shareLoaded]]" on-dom-change="_editorDomChanged">
            <kano-scene-editor id="editor" scene="[[scene]]" story-name="[[share.title]]" on-scene-done="_showEndModal"></kano-scene-editor>
        </template>
        <paper-dialog id="share-modal" with-backdrop>
            <kano-share-modal on-confirm="confirmShare"
                              on-dismiss="dismissShare"
                              share-info="{{shareInfo}}"></kano-share-modal>
        </paper-dialog>
        <paper-dialog class="challenge-modal" id="start-modal" modal on-iron-overlay-closed="_startTutorial">
            <iron-pages selected="[[selectedStartPage]]" attr-for-selected="name">
                <div name="loading">Loading tutorial...</div>
                <div name="loaded">
                    <h2>How to build [[share.user.username]]'s [[share.title]] app</h2>
                    <iron-image src="[[share.cover_url]]" sizing="contain" preload fade></iron-image>
                    <p>
                        Hi there. In this tutorial you will learn how to create [[share.user.username]]'s app, and then you will be able to remix it to make it your own.
                    </p>
                    <div hidden$="[[!share.description]]">
                        <p>Here's what the app does:</p>
                        <p>[[share.description]]</p>
                    </div>
                    <p>
                        If you're ready, hit the start button!
                    </p>
                    <div class="buttons">
                        <button class="start-button" disabled$="[[!shareLoaded]]" dialog-confirm>Start!</button>
                    </div>
                </div>
            </iron-pages>
        </paper-dialog>
        <paper-dialog class="challenge-modal" id="end-modal" modal on-iron-overlay-closed="_enableRemixMode">
          <h2>Well done!</h2>
          <paper-dialog-scrollable>
              <p>You finished rebuilding [[share.user.username]]'s app. You can now remix it to add your personnal touch or add more awesome features</p>
              <div class="buttons">
                  <button class="start-button" dialog-confirm>Start remixing</button>
              </div>
          </paper-dialog-scrollable>
        </paper-dialog>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano, page */
    Polymer({
        is: 'kano-view-tutorial',
        behaviors: [Kano.Behaviors.SharingBehavior, Kano.Behaviors.ModalAnimatorBehavior],
        properties: {
            app: {
                type: Object
            }
        },
        listeners: {
            'blockly-ready': '_registerBlockly'
        },
        ready () {
            Kano.AppModules.init(Kano.MakeApps.config);
            Kano.MakeApps.Parts.init(Kano.MakeApps.config);
            Kano.MakeApps.blockly.init(Kano.MakeApps.config);
            Kano.MakeApps.Mode.init(Kano.MakeApps.config);
            this.configureModal(this.$['end-modal'], 'scale-down');
            this.configureModal(this.$['end-modal'], 'fade-out');
            this.configureModal(this.$['start-modal'], 'scale-down');
            this.configureModal(this.$['start-modal'], 'fade-out');
        },
        attached () {
            let editor = window.RouterUtil.parseQsParam(this.context.querystring, 'editor');
            this.modal = this.$['share-modal'];
            this.$['start-modal'].open();
            this.selectedStartPage = 'loading';
            this.shareLoaded = false;
            if (editor) {
                this.share = {
                    user: this.user || { username: 'Current user' },
                    title: 'From Local Storage',
                    description: 'App loaded from the localStorage'
                };
                this.selectedStartPage = 'loaded';
                this.$['start-modal'].refit();
                let challenge = Kano.MakeApps.Challenge.createFromApp(JSON.parse(localStorage.getItem('savedApp')));
                this.scene = challenge.data;
                this.shareLoaded = true;
            } else {
                Kano.MakeApps.sdk.api.share.get.bySlug({ slug: this.context.params.slug })
                    .then((res) => res.body.item)
                    .then((share) => {
                        this.share = share;
                        this.selectedStartPage = 'loaded';
                        this.$['start-modal'].refit();
                        return fetch(share.workspace_info_url);
                    })
                    .then((res) => res.json())
                    .then((app) => {
                        let challenge = Kano.MakeApps.Challenge.createFromApp(app);
                        this.scene = challenge.data;
                        this.shareLoaded = true;
                    }).catch((e) => {
                        console.error(e);
                    });
            }

            this.async(function () {
                trackPage();
            });
        },
        _registerBlockly () {
            Kano.MakeApps.blockly.register(window.Blockly);
        },
        _startTutorial () {
            this.set('scene.started', true);
        },
        _showEndModal () {
            this.$['end-modal'].open();
        },
        _enableRemixMode () {
            this.$$('#editor').goToRemixChallenge();
        },
        _editorDomChanged () {
            let editor = this.$$('#editor');
            if (editor) {
                editor.animate([{
                    opacity: 0
                },{
                    opacity: 1
                }], {
                    duration: 500,
                    easing: 'ease-out'
                });
            }
        }
    });
</script>
