<dom-module id="kano-view-ui-editor">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host kano-blockly-challenge {
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }
        :host kano-blockly {
            @apply(--layout-flex);
        }
    </style>
    <template>
        <kano-blockly-challenge steps="{{steps}}" id="blockly">
            <kano-blockly class="blockly" toolbox="{{toolbox}}"></kano-blockly>
        </kano-blockly-challenge>
    </template>
</dom-module>

<script src="./kano-view-ui-editor.js"></script>
