<dom-module id="kano-view-ui-editor">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
        }
        :host kano-blockly {
            @apply(--layout-flex);
        }
        :host kano-login-form {
            @apply(--layout-flex);
        }
        :host .instruction-overlay {
            @apply(--kano-overlay);
            @apply(--layout-vertical);
            @apply(--layout-center);
        }
    </style>
    <template>
        <div class="instruction-overlay">
            <h3>{{instruction}}</h3>
        </div>
        <kano-blockly toolbox="{{toolbox}}" id="blockly" on-change="blocklyChanged"></kano-blockly>
    </template>
</dom-module>

<script src="./kano-view-ui-editor.js"></script>
