<link rel="import" href="../../elements/editor-bundle.html">
<link rel="import" href="../../elements/share-bundle.html">
<dom-module id="kano-view-editor">
    <style>
    :host {
        display: block;
        @apply(--layout-vertical);
    }
    :host kano-app-editor {
        @apply(--layout-flex);
    }
    :host #error-dialog .title {
        color: red;
    }
    :host #error-dialog .description {
        text-align: center;
    }
    :host #share-modal {
        overflow: scroll;
    }
    </style>
    <template>
        <kano-app-editor
            id="editor"
            running="{{running}}"
            parts="{{parts}}"
            code="{{code}}"
            added-parts="{{addedParts}}"
            default-categories="[[defaultCategories]]"
            ws-size="[[size]]"
            on-share="share"
            mode="{{_getMode(context)}}"
            show-share-button></kano-app-editor>
        <paper-dialog id='error-dialog' with-backdrop>
            <h2 class="title">{{error.title}}</h2>
            <p class="description">{{error.description}}</p>
        </paper-dialog>
        <paper-dialog id="share-modal" with-backdrop>
            <kano-share-modal on-confirm="confirmShare"
                              on-dismiss="dismissShare"
                              share-info="{{shareInfo}}"></kano-share-modal>
        </paper-dialog>
    </template>
</dom-module>

<script type="text/javascript">
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-editor',
        behaviors: [Kano.Behaviors.SharingBehavior],
        properties: {
            context: Object,
            addedParts: {
                type: Array,
                value: () => {
                    return [];
                }
            },
            code: {
                type: Object,
                value: () => {
                    return {};
                }
            },
            running: {
                type: Boolean,
                observer: 'runningChanged'
            },
            usedBlocks: {
                type: Object
            },
            remixMode: {
                type: Boolean,
                value: false
            },
            error: {
                type: Object,
                value: {
                    title: '',
                    description: ''
                },
                notify: true
            }
        },
        listeners: {
            'blockly-ready': '_registerBlockly'
        },
        _registerBlockly () {
            let appToLoad,
                slug = this.context.params.slug;
            Kano.MakeApps.blockly.register(window.Blockly);

            if (this.loaded) {
                return;
            }
            this.loaded = true;

            switch (this._getMode(this.context)) {
                case 'lightboard':
                    // Filter out UI and camera parts in lightboard mode
                    this.set('parts', Kano.MakeApps.part.filter((part) => {
                        return part.partType !== 'ui' && part.type !== 'camera';
                    }));
                    break;
                case 'camera':
                    // Don't show lightboard in camera mode
                    this.set('parts', Kano.MakeApps.part.filter((part) => {
                        return part.type !== 'light';
                    }));
                    break;
                default:
                    // Don't show lightboard and camera in normal mode
                    this.set('parts', Kano.MakeApps.part.filter((part) => {
                        return part.type !== 'light' && part.type !== 'camera';
                    }));
            }

            this.set('defaultCategories', Kano.MakeApps.defaultCategories);

            if (slug) {
                this.remixMode = true;
                //loading component for remixing, we need to get data from the slug
                Kano.MakeApps.sdk.api.share.get.bySlug({ slug }).then(res => {
                    //getting the workspace info from the share
                    if (res.body.item.workspace_info_url) {
                        fetch(res.body.item.workspace_info_url)
                        .then(response => {
                            return response.json();
                        }).then(json => {
                            this.editor.load(json, Kano.MakeApps.part);
                        }).catch(err => {
                            console.error('loading failed', err);
                            this.set('error.title', 'Loading failed');
                            this.set('error.description', 'Couldn\'t load share');
                            this.$['error-dialog'].open();
                        });
                    }
                });
            } else {
                appToLoad = JSON.parse(localStorage.getItem('savedApp'));
                this.editor.load(appToLoad, Kano.MakeApps.part);
            }
        },
        _getMode (context) {
            var qs = '?' + context.querystring,
                paramName = 'mode',
                regex,
                res;

            if (qs.length > 1) {
                regex = new RegExp("[?&]" + paramName + "(=([^&#]*)|&|#|$)"),
                res = regex.exec(qs);
                if (res && res[2]) {
                    return decodeURIComponent(res[2].replace(/\+/g, " "))
                }
            }

            return 'normal';
        },
        ready () {
            this.loaded = false;
            this.editor = this.$.editor;
            this.editor.addEventListener('ws-update', this.updateWorkspaceRect.bind(this));
            this.editor.addEventListener('change', this.save.bind(this));
            this.modal = this.$['share-modal'];

            if (this._getMode(this.context) === 'lightboard') {
                this.set('size', Kano.MakeApps.config.WORKSPACE_LED_BOARD_SIZE);
            } else {
                this.set('size', Kano.MakeApps.config.WORKSPACE_FULL_SIZE);
            }
        },
        updateWorkspaceRect (rect) {
            Kano.MakeApps.dragAndDrop.setWorkspaceRect(rect);
        },
        save () {
            // Save after 3secs without changes
            if (!this.remixMode) {
                this.debounce('save', () => {
                    let editor = this.$.editor,
                        savedApp = editor.save();
                    localStorage.setItem('savedApp', JSON.stringify(savedApp));
                }, 3000);
            }
        },
        /**
         * When the current code changes, save it in the components store
         * @param  {Event} e  Informations about the code updated
         */
        codeChanged (e) {
            let data = e.detail;
            // Add the new code and its rule to the components store
            Kano.MakeApps.components.setCode(data.id, data.emitter, data.event, data.code);
        },
        detached () {
            window.removeEventListener('resize', this.updateWorkspaceRect.bind(this));
        },
        runningChanged () {
            if (this.running) {
                Kano.MakeApps.components.run(this.addedParts, this.code);
            } else {
                Kano.MakeApps.components.stop(this.addedParts, this.code);
            }
        }
    });
</script>
