<link rel="import" href="../../scripts/kano/make-apps/hardware-api.html">
<link rel="import" href="../../scripts/kano/make-apps/utils.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">

<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/kano-share-modal/kano-share-modal.html">

<link rel="import" href="../../elements/behaviors/kano-editor-view-behavior.html">
<link rel="import" href="../../elements/behaviors/kano-sharing-behavior.html">

<dom-module id="kano-view-editor">
    <style>
    :host {
        display: block;
        @apply(--layout-vertical);
    }
    :host kano-app-editor {
        @apply(--layout-flex);
    }
    :host #error-dialog .title {
        color: red;
    }
    :host #error-dialog .description {
        text-align: center;
    }
    paper-dialog {
        border-radius: 5px;
    }
    :host(.dragging) * {
        pointer-events: none;
    }
    .dragoverlay {
        @apply(--layout-vertical);
        @apply(--layout-center);
        @apply(--layout-center-justified);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(255, 255, 255, 0.75);
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }
    .dragoverlay * {
        pointer-events: none;
    }
    #overlay-character {
        transform-origin: center bottom;
    }
    #overlay-text {
        opacity: 0;
        font-size: 32px;
        font-weight: 200;
    }
    @media screen and (max-width: 1200px) {
         #share-modal {
            max-width: 900px;
         }
    }
    @media screen and (max-width: 960px) {
          #share-modal {
              max-width: 330px;
          }
    }
    </style>
    <template>
        <kano-app-editor
            id="editor"
            running="{{running}}"
            parts="{{parts}}"
            code="{{code}}"
            added-parts="{{addedParts}}"
            default-categories="[[defaultCategories]]"
            on-share="_pauseAndShare"
            mode="[[mode]]"
            show-share-button></kano-app-editor>
        <paper-dialog id='error-dialog' with-backdrop>
            <h2 class="title">{{error.title}}</h2>
            <p class="description">{{error.description}}</p>
        </paper-dialog>
        <paper-dialog id="share-modal" with-backdrop>
            <kano-share-modal on-confirm="confirmShare"
                              on-dismiss="dismissShare"
                              share-info="{{shareInfo}}"
                              world-url="[[config.WORLD_URL]]"
                              is-authenticated="[[user]]"></kano-share-modal>
        </paper-dialog>
        <div class="dragoverlay" id="dropoverlay">
            <p id="overlay-text">Drop a file here to load the app</p>
            <iron-image id="overlay-character" src="/assets/stories/background_color/color-character.png" preload sizing="contain" width="300" height="400"></iron-image>
        </div>
    </template>
</dom-module>

<script type="text/javascript">
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-editor',
        behaviors: [Kano.Behaviors.SharingBehavior, Kano.Behaviors.EditorViewBehavior],
        properties: {
            context: Object,
            addedParts: {
                type: Array,
                value: () => {
                    return [];
                }
            },
            code: {
                type: Object,
                value: () => {
                    return {};
                }
            },
            usedBlocks: {
                type: Object
            },
            remixMode: {
                type: Boolean,
                value: false
            },
            error: {
                type: Object,
                value: {
                    title: '',
                    description: ''
                },
                notify: true
            }
        },
        attached () {
            this._onDragover = this._onDragover.bind(this);
            this._onDrop = this._onDrop.bind(this);
            this._onDragenter = this._onDragenter.bind(this);
            this._onDragleave = this._onDragleave.bind(this);
            this._bindEvents();
            this.enterCount = 0;
        },
        detached () {
            this._unbindEvents();
        },
        _bindEvents () {
            this.addEventListener('dragover', this._onDragover, false);
            this.addEventListener('drop', this._onDrop, false);
            this.addEventListener('dragenter', this._onDragenter, false);
            this.addEventListener('dragleave', this._onDragleave, false);
        },
        _unbindEvents () {
            this.removeEventListener('dragover', this._onDragover);
            this.removeEventListener('drop', this._onDrop);
            this.removeEventListener('dragenter', this._onDragenter);
            this.removeEventListener('dragleave', this._onDragleave);
        },
        _pauseAndShare (e) {
            this.running = false;
            this.share(e);
        },
        _onDragover (e) {
            e.preventDefault();
            e.stopPropagation();
            e.dataTransfer.dropEffect = 'copy';
        },
        _onDrop (e) {
            let file;
            e.preventDefault();
            e.stopPropagation();
            this.toggleClass('dragging', false); 
            this._animateDrop().then(() => {
                this.$['dropoverlay'].style.display = 'none';
            });
            file = e.dataTransfer.files[0];
            if (file) {
                this._readFile(file)
                    .then(content => {
                        return JSON.parse(content);
                    })
                    .then(app => {
                        Kano.MakeApps.Parts.clear();
                        this.set('mode', Kano.MakeApps.Mode.modes[app.mode]);
                        this._filterParts();
                        this.editor.load(app, Kano.MakeApps.Parts.list);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        },
        _readFile (f) {
            return new Promise((resolve, reject) => {
                var reader = new FileReader();

                reader.onload = () => {
                    resolve(reader.result);
                };

                reader.onerror = reject;

                reader.readAsText(f);
            });
        },
        _onDragenter (e) {
            let target = e.path ? e.path[0] : e.target;
            if (target !== this) {
                this.toggleClass('dragging', true);
            } else {
                this.$['dropoverlay'].style.display = 'flex';
                this._animateDragEnter();
            }
        },
        _onDragleave (e) {
            let target = e.path ? e.path[0] : e.target;
            if (target === this) {
                this.toggleClass('dragging', false);            
                this._animateDragLeave().then(() => {
                    this.$['dropoverlay'].style.display = 'none';
                });
            }
        },
        _animateDragEnter () {
            let overlay = this.$['dropoverlay'],
                character = this.$['overlay-character'],
                text = this.$['overlay-text'];

            overlay.animate([{
                opacity: 0
            }, {
                opacity: 1
            }], {
                duration: 300,
                fill: 'forwards',
                easing: 'ease-in-out'
            });

            character.style.transformOrigin = 'center bottom';

            character.animate([{
                transform: 'translateY(100%) rotate(4deg)'
            },{
                transform: 'translateY(0%) rotate(0deg)'
            }], {
                duration: 400,
                fill: 'forwards',
                easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'
            });

            text.animate([{
                transform: 'translateY(100%)',
                opacity: 0
            },{
                transform: 'translateY(0%)',
                opacity: 1
            }], {
                duration: 400,
                delay: 600,
                easing: 'ease-out',
                fill: 'forwards'
            });
        },
        _animateDragLeave () {
            let overlay = this.$['dropoverlay'],
                character = this.$['overlay-character'],
                text = this.$['overlay-text'],
                fadeOutConfig;

            fadeOutConfig = [[{
                opacity: 1
            },{
                opacity: 0
            }], {
                duration: 400,
                easing: 'ease-out',
                fill: 'forwards'
            }];

            text.animate.apply(text, fadeOutConfig);
            overlay.animate.apply(overlay, fadeOutConfig);

            return character.animate([{
                transform: 'translateY(0%)'
            },{
                transform: 'translateY(100%)'
            }], {
                duration: 400,
                easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'
            }).finished;
            
        },
        _animateDrop () {
            let overlay = this.$['dropoverlay'],
                character = this.$['overlay-character'],
                text = this.$['overlay-text'],
                fadeOutConfig;

            fadeOutConfig = [[{
                opacity: 1
            },{
                opacity: 0
            }], {
                duration: 400,
                fill: 'forwards',
                easing: 'ease-out'
            }];

            text.animate.apply(text, fadeOutConfig);
            overlay.animate.apply(overlay, fadeOutConfig);

            character.style.transformOrigin = 'center center';

            return character.animate([{
                transform: 'scale(1, 1)'
            },{
                transform: 'scale(0, 0)'
            }], {
                duration: 400,
                easing: 'cubic-bezier(0.6, -0.28, 0.735, 0.045)'
            }).finished;
            
        },
        _registerBlockly () {
            let appToLoad,
                slug = this.context.params.slug,
                modeId;
            Kano.Behaviors.EditorViewBehavior._registerBlockly.apply(this, arguments);

            if (this.loaded) {
                return;
            }
            this.loaded = true;
            modeId = this.mode.id;

            this.set('defaultCategories', Kano.MakeApps.Blockly.categories);

            if (slug) {
                this.remixMode = true;
                //loading component for remixing, we need to get data from the slug
                Kano.MakeApps.sdk.api.share.get.bySlug({ slug }).then(res => {
                    //getting the workspace info from the share
                    if (res.body.item.workspace_info_url) {
                        fetch(res.body.item.workspace_info_url)
                        .then(response => {
                            return response.json();
                        }).then(json => {
                            this.set('mode', Kano.MakeApps.Mode.modes[json.mode]);
                            this._filterParts();
                            this.editor.load(json, Kano.MakeApps.Parts.list);
                        }).catch(err => {
                            console.error('loading failed', err);
                            this.set('error.title', 'Loading failed');
                            this.set('error.description', 'Couldn\'t load share');
                            this.$['error-dialog'].open();
                        });
                    }
                });
            } else {
                appToLoad = JSON.parse(localStorage.getItem(`savedApp-${modeId}`));
                this._filterParts();
                this.editor.load(appToLoad, Kano.MakeApps.Parts.list);
            }
        },
        _filterParts () {
            // Only include the parts defined in the mode
            if (this.mode.parts) {
                this.set('parts', Kano.MakeApps.Parts.list.filter((part) => {
                    return this.mode.parts.indexOf(part.type) !== -1;
                }));
            }
        },
        _getMode (context) {
            var modeFromQs = Kano.Util.Router.parseQsParam(this.context.querystring, 'mode');
            return modeFromQs ? modeFromQs : 'normal';
        },
        ready () {
            let hardwareAPI = new Kano.MakeApps.HardwareAPI();
            this.loaded = false;
            this.editor = this.$.editor;
            this.editor.addEventListener('ws-update', this.updateWorkspaceRect.bind(this));
            this.editor.addEventListener('change', this.save.bind(this));
            this.modal = this.$['share-modal'];

            Kano.MakeApps.config.HOST = Kano.Util.Router.parseQsParam(this.context.querystring, 'host') || Kano.MakeApps.config.HOST;
            Kano.MakeApps.config.PORT = Kano.Util.Router.parseQsParam(this.context.querystring, 'port') || Kano.MakeApps.config.PORT;

            hardwareAPI.config(Kano.MakeApps.config);

            Kano.MakeApps.Mode.init(Kano.MakeApps.config);
            Kano.MakeApps.Blockly.init(Kano.MakeApps.config);
            Kano.MakeApps.Parts.init(Kano.MakeApps.config);
            Kano.AppModules.init(Object.assign({ hardwareAPI }, Kano.MakeApps.config));

            this.mode = Kano.MakeApps.Mode.modes[this._getMode(this.context)];
        },
        updateWorkspaceRect (rect) {
            Kano.MakeApps.dragAndDrop.setWorkspaceRect(rect);
        },
        save () {
            let modeId = this.mode.id;
            // Save after 3secs without changes
            if (!this.remixMode) {
                this.debounce('save', () => {
                    let editor = this.$.editor,
                        savedApp = editor.save();
                    localStorage.setItem(`savedApp-${modeId}`, JSON.stringify(savedApp));
                }, 3000);
            }
        },
        /**
         * When the current code changes, save it in the components store
         * @param  {Event} e  Informations about the code updated
         */
        codeChanged (e) {
            let data = e.detail;
            // Add the new code and its rule to the components store
            Kano.MakeApps.components.setCode(data.id, data.emitter, data.event, data.code);
        },
        detached () {
            window.removeEventListener('resize', this.updateWorkspaceRect.bind(this));
        }
    });
</script>
