:host {
    display: block;
    position: relative;
}
:host #workspace {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
:host ::content svg {
    @apply(--kano-crossed-background);
}


:host ::content .blocklyPathDark,
:host ::content .blocklyPathLight {
  fill: transparent !important;
  stroke-width: 0px !important; }

:host ::content .blocklySelected > .blocklyPath {
  stroke-width: 1px !important;
  stroke: rgba(0, 0, 0, 0.5) !important;
  stroke-linejoin: round !important; }

:host ::content .blocklyHighlightedConnectionPath {
  stroke-width: 2px !important; }

:host ::content text.blocklyText {
  font-family: bariol;
  font-size: 1em; }

:host ::content .blocklyEditableText:hover > rect {
  stroke-width: 1px !important; }

:host ::content .blocklyEditableText .blocklyText {
  font-size: 1em !important; }

:host ::content div.blocklyTreeRoot {
  padding: 0px; }

:host ::content span.blocklyTreeLabel {
  font-family: bariol;
  font-size: 1.1em; }

:host ::content div.blocklyTreeRow {
  position: relative;
  height: auto !important;
  line-height: 20px !important;
  padding: 18px 12px !important;
  margin: 0px;
  color: white;
  font-size: 1em; }

:host ::content div.blocklyTreeRow:hover,
:host ::content span.blocklyTreeLabel:hover {
  cursor: pointer; }

:host ::content div.blocklyTriangle {
  position: absolute;
  left: 140px;
  display: none;
  border: 12px solid transparent;
  border-left: 0px;
  border-right-width: 10px;
  border-right-color: #E8E8E8; }

:host ::content span.blocklyTreeIcon {
  width: 0px; }

:host ::content div.blocklyToolboxDiv {
  background-color: transparent; }

:host ::content div.blocklyTreeSeparator {
  border: 0px; }

:host ::content path.blocklyFlyoutBackground {
  fill: #E8E8E8;
  fill-opacity: 1; }

:host ::content rect.blocklyMainBackground {
  display: none !important; }
