<link rel="import" href="../../elements/home-bundle.html">
<dom-module id="kano-view-home">
    <style>
        :host {
            display: block;
            position: relative;
            @apply(--layout-vertical);
            @apply(--layout-center);
            background-color: #DCDCDC;
        }
        :host kano-nav-bar {
            width: 100%;
            display: block;
            z-index: 1;
            /* Hi safari, how are you? */
            flex-shrink: 0
        }
        /* Hi safari, glad to see you again */
        :host ::content kano-nav-bar .center {
            flex: 2 !important;
        }
        :host ::content kano-nav-bar .link i {
            align-self: center;
            margin-left: 4px;
        }
        /* FIXME investigate that later */
        :host ::content kano-nav-bar button {
            font-family: bariol !important;
        }
        /* FIXME investigate that later */
        :host ::content kano-nav-bar .user-avatar {
            width: 44px !important;
            height: 44px !important;
        }
        :host .pure-g [class *= "pure-u"] {
            font-family: 'Bariol', Helvetica, Arial, sans-serif;
        }
        :host a:hover,
        :host a:visited,
        :host a:link,
        :host a:active {
            text-decoration: none;
            color: #4B4B4B;
        }
        :host h1 {
            color: #4B4B4B;
            font-weight: 600;
            display: inline-block;
        }
        :host .container {
            width: 100%;
            padding: 0 100px;
        }

        @media screen and (max-width: 568px) {
          :host .container {
              width: 100%;
              padding: 0 20px;
          }
        }
        :host .banner {
            background-image: url('/assets/make-apps-background.svg');
            width: 100%;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Hi safari, how are you? */
            flex-shrink: 0
        }
        :host .banner-content {
            display: inline-block;
        }
        :host .banner-image, .banner-text {
            text-align: center;
        }
        :host .banner-text {
            margin: 0 auto;
            vertical-align: middle;
            max-width: 800px;
            padding: 10px;
        }
        :host .banner-text > div {
            padding:10px;
            line-height: 1.5em;
            font-size: 20px;
            color: white;
        }
        :host .banner-text h1 {
            color: white;
            margin-bottom: 0;
        }
        :host .see-all {
            font-size: 14px;
            font-weight: 600;
            margin-top: 40px;
            margin-left: 10px;
        }
        :host a.button {
            background-color: #7DC242;
            color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            @apply(--kano-button);
        }
        :host #logo {
            height: 80px;
            width: 80px;
            display: block;
            margin: 0 auto;
        }

        @media screen and (min-width: 550px) {
            .banner-text {
                padding: 50px 100px;
                text-align: center;
            }
            .banner-image {
                padding: 20px;
            }
            .make-app-button {
                margin-left: 10px;
                margin-top: 20px;
            }
        }
        @media screen and (min-width: 1400px) {
            .banner-content {
                width: 1400px;
            }
            .banner-image {
                padding: 50px 100px;
            }
        }

    </style>
    <template>
        <kano-nav-bar user="[[user]]" xp="[[user.profile.xp]]" assets-path="/assets/navbar/" notifications="[[_computeNotifications(user.notifications)]]" world-root="[[worldRoot]]" default-avatar="/assets/avatar/judoka_1_white_circular.png"></kano-nav-bar>
        <div class="banner">
            <div class="banner-content pure-g">
                <div class="banner-text pure-u-1">
                    <img id="logo" src="/assets/make-apps-logo.svg" />
                    <h1>Make Apps</h1>
                    <div>Want to control color? Check wind-speed on Mount Everest? Track astronauts in space? Make an app for that! Then share it with friends.</div>
                    <a class="link style-scope kano-app button make-app-button" href="/story/background_color">Get started</a>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Projects</h1>
            <kano-projects projects="[[projects]]" loading="[[loadingProjects]]"></kano-projects>
            <h1>My Apps</h1><a class="see-all" href="/apps/my">See all &gt;</a>
            <kano-app-list limit="3" view="my" apps="[[user_apps]]" play-url="{{PLAY_URL}}"></kano-app-list>
            <h1>Latest Apps</h1><a class="see-all" href="/apps">See all &gt;</a>
            <kano-app-list limit="4" apps="[[apps]]" play-url="{{PLAY_URL}}"></kano-app-list>
        </div>
    </template>
</dom-module>

<script>
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-home',
        behaviors: [Kano.Behaviors.ViewBehavior],
        properties: {
            projects: {
                type: Array,
                value: []
            }
        },
        observers: [
            '_userChanged(user)'
        ],
        _userChanged () {
            if (!this.user) {
                return null;
            }

            Kano.MakeApps.sdk.api.share.list({}, { app_name: 'make-apps', user_id: this.user.id, limit: 3})
                .then((apps) => this.set('user_apps', apps.body.entries));
        },
        attached () {
            this.async(function() {
                trackPage();
            });
        },
        ready () {
            this.worldRoot = Kano.MakeApps.config.WORLD_URL;
            this.PLAY_URL = Kano.MakeApps.config.PLAY_URL;
            this.loadingProjects = true;
            Kano.MakeApps.stories.list()
                .then((stories) => {
                    // Go through all the stories and update the `locked` key
                    let promises = stories.map((story) => {
                        // Load the story's progress group
                        return Kano.MakeApps.progress.loadProgress(story.progress.group)
                            .then((progress) => {
                                // `storyNo` is the last completed story number of the user. If the story number is over
                                // that number plus one, the story is locked
                                if (progress.storyNo + 1 > story.progress.storyNo) {
                                    story.locked = true;
                                }
                                return story;
                            });
                    });
                    return Promise.all(promises);
                })
                .then((projects) => {
                    this.loadingProjects = false;
                    this.set('projects', projects);
                });
            Kano.MakeApps.sdk.api.share.list({}, { app_name: 'make-apps', limit: 4})
                .then((apps) => {
                    this.set('apps', apps.body.entries);
                });
        },
        _computeNotifications (notifications) {
            return notifications || [];
        }
    });
</script>
