<link rel="import" href="../../scripts/kano/make-apps/utils.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">

<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/kano-reward-modal/kano-reward-modal.html">
<link rel="import" href="../../elements/behaviors/kano-editor-view-behavior.html">
<link rel="import" href="../../elements/behaviors/kano-view-behavior.html">

<dom-module id="kano-view-onboarding">
    <style>
    :host {
        display: block;
        @apply(--layout-vertical);
    }
    :host kano-app-editor {
        @apply(--layout-flex);
    }
    </style>
    <template>
        <kano-app-editor
            id="editor"
            running="{{running}}"
            parts="{{parts}}"
            code="{{code}}"
            added-parts="{{addedParts}}"
            default-categories="[[defaultCategories]]"
            mode="[[mode]]"
            banner="[[banner]]"
            challenge-state="{{challengeState}}"
            on-change="_onBlocklyChange"
            on-fireworks-triggered="_stageFinished"
            on-talking-face-animation-stopped="_stageFinished"
            hide-leave-alert="[[alertDisabled]]"></kano-app-editor>
        <kano-reward-modal
            content="[[_currentReward(stageNo)]]"
            id="reward-modal"
            on-interaction="_handleModalAction"></kano-reward-modal>
    </template>
</dom-module>

<script type="text/javascript">
    /* globals Polymer, Kano */

    // TODO use this when we add a third step
    Polymer({
        is: 'kano-view-onboarding',
        behaviors: [
            Kano.Behaviors.EditorViewBehavior,
            Kano.Behaviors.ViewBehavior
        ],
        properties: {
            context: Object,
            addedParts: {
                type: Array,
                value: () => {
                    return [];
                }
            },
            code: {
                type: Object,
                value: () => {
                    return {};
                }
            },
            usedBlocks: {
                type: Object
            },
            banner: {
                type: Object
            },
            stages: {
                type: Array,
                value: () => {
                    return [
                        {
                            mode: 'simple',
                            workspace: {
                                viewport: {
                                    width: 502,
                                    height: 264
                                },
                                component: 'kano-workspace-normal'
                            },
                            defaultBlocks: `<xml xmlns="http://www.w3.org/1999/xhtml">
                                                <block type="talkingface#say" id="onboarding1" x="266" y="157" deletable="false"></block>
                                                <block type="talkingface#superpowers" id="onboarding2" x="383" y="157" deletable="false"></block>
                                            </xml>`,
                            defaultParts: ['talking-face'],
                            banner: {
                                head: 'Challenge 1',
                                text: 'Join the blocks to unlock your first power!'
                            },
                            reward: {
                                title: 'Awesome! You just controlled your computer',
                                body: 'With training you’ll become more powerful',
                                links: [{
                                    text: 'Get another power',
                                    type: 'progress',
                                    trackingEvent: 'onboardingC1C2Click',
                                    glint: true
                                }],
                                xp: 100
                            }
                        }, {
                            mode: 'simple',
                            workspace: {
                                viewport: {
                                    width: 502,
                                    height: 264
                                },
                                component: 'kano-workspace-normal'
                            },
                            defaultBlocks: `<xml xmlns="http://www.w3.org/1999/xhtml">
                                                <block type="talkingface1#say_accent" id="onboarding3" x="161" y="157" deletable="false"></block>
                                                <block type="talkingface1#superpowers" id="onboarding4" x="418" y="157" deletable="false"></block>
                                            </xml>`,
                            defaultParts: ['talking-face'],
                            banner: {
                                head: 'Challenge 2',
                                text: 'Let’s level up your power. Can you change the voice?'
                            },
                            reward:     {
                                title: 'High-five! Don’t your new powers feel good?',
                                body: 'You’re getting more powerful. Keep going.',
                                links: [{
                                    text: 'Try next challenge',
                                    type: 'progress',
                                    trackingEvent: 'onboardingC2C3Click',
                                    glint: true
                                }],
                                xp: 200
                            }
                        }, {
                            mode: 'simple',
                            workspace: {
                                viewport: {
                                    width: 502,
                                    height: 264
                                },
                                component: 'kano-workspace-normal'
                            },
                            defaultBlocks: `<xml xmlns="http://www.w3.org/1999/xhtml">
                                                <block type="fireworks#repeat" id="onboarding5" x="181" y="104" deletable="false"></block>
                                                <block type="fireworks#fireworks" id="onboarding6" x="335" y="206" deletable="false"></block>
                                                <block type="fireworks#anywhere" id="onboarding7" x="235" y="306" deletable="false"></block>
                                            </xml>`,
                            defaultParts: ['fireworks'],
                            banner: {
                                head: 'Challenge 3',
                                text: "Here’s an explosive new power to learn. Can you make fireworks?"
                            },
                            reward: {
                                title: 'Woah. You’ll soon be a Kano Master!',
                                body: 'New powers come with extra XP, keep them safe',
                                links: [{
                                    text: 'Save XP',
                                    type: 'save',
                                    trackingEvent: 'onboardingC3ClickSave',
                                    glint: true
                                }, {
                                    text: 'Try more challenges',
                                    type: 'progress',
                                    trackingEvent: 'onboardingC3ClickMoreChallenge',
                                    glint: false
                                }],
                                xp: 300
                            }
                        }];
                }
            },
            stageNo: {
                type: Number
            },
            trackingEvents: {
                type: Object,
                value: () => {
                  return {
                      'onboarding2': 'onboardingC1Part1Join',
                      'onboarding3': 'onboardingC2Toggle',
                      'onboarding4': 'onboardingC2Part1Join',
                      'onboarding6': 'onboardingC3Part1Join',
                      'onboarding7': 'onboardingC3Part2Join'
                    }
                }
            }
        },
        observers: [
            'onStageChanged(stageNo)'
        ],
        attached () {
        },
        detached () {
        },
        _registerBlockly () {
            Kano.Behaviors.EditorViewBehavior._registerBlockly.apply(this, arguments);

            if (this.loaded) {
                return;
            }
            this.loaded = true;

            this.set('defaultCategories', {});
        },
        _filterParts () {
            // Only include the parts defined in the mode
            if (this.mode.parts) {
                this.set('parts', Kano.MakeApps.Parts.list.filter((part) => {
                    return this.mode.parts.indexOf(part.type) !== -1;
                }));
            }
        },
        ready () {
            this.loaded = false;

            this.editor = this.$.editor;
            this.editor.addEventListener('ws-update', this.updateWorkspaceRect.bind(this));

            Kano.MakeApps.Mode.init(Kano.MakeApps.config);
            Kano.MakeApps.Blockly.init(Kano.MakeApps.config);
            Kano.MakeApps.Parts.init(Kano.MakeApps.config);
            Kano.AppModules.init(Object.assign({}, Kano.MakeApps.config));

            this.stageNo = 0;
        },
        onStageChanged (stageNo) {
            let stage = this.stages[stageNo],
                addedParts = [];

            if (stageNo === null) {
                return;
            }

            this.mode = Kano.MakeApps.Mode.modes[stage.mode];
            if (stage.workspace) {
                this.set('mode.workspace', stage.workspace);
            }
            this._filterParts();

            stage.defaultParts.map((partName) => {
                this.parts.forEach((part) => {
                    if (part.type === partName) {
                        addedParts.push(Kano.MakeApps.Parts.create(part,
                                        this.mode.workspace.viewport));
                    }
                });
            });
            this.set('addedParts', addedParts);

            this.banner = stage.banner;
            this.set('code', {snapshot: {blocks: stage.defaultBlocks}});
        },
        updateWorkspaceRect (rect) {
            Kano.MakeApps.dragAndDrop.setWorkspaceRect(rect);
        },
        _currentReward (stageNo) {
            let reward = this.stages[stageNo].reward;
            reward.progress = {
                current: stageNo + 1,
                total: this.stages.length
            };
            return reward;
        },
        _handleModalAction (e) {
            if (e.detail.trackingEvent) {
                this.dispatchTrackingEvent(e.detail.trackingEvent);
            }
            if (e.detail.type === 'save') {
                this.fire('signup');
            } else if (e.detail.type === 'progress' && this.stageNo === (this.stages.length - 1)) {
                this.alertDisabled = true;
                location.href = Kano.MakeApps.config.WORLD_URL + "/projects";
            } else {
                if (this.stageNo < this.stages.length - 1) {
                    this.stageNo++;
                }
            }
        },
        _onBlocklyChange (e) {
            let details = e.detail,
              eventType;
            if ((details.type && details.newInputName) || (details.name && details.newValue)) {
                eventType = this.trackingEvents[details.blockId];
            }
            if (eventType) {
                this.dispatchTrackingEvent(eventType);
            }
        },
        _stageFinished () {
            this.$['reward-modal'].open();
        }
    });
</script>
