<link rel="import" href="../../scripts/kano/make-apps/utils.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">

<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/behaviors/kano-editor-view-behavior.html">

<dom-module id="kano-view-onboarding">
    <style>
    :host {
        display: block;
        @apply(--layout-vertical);
    }
    :host kano-app-editor {
        @apply(--layout-flex);
    }
    </style>
    <template>
        <kano-app-editor
            id="editor"
            running="{{running}}"
            parts="{{parts}}"
            code="{{code}}"
            added-parts="{{addedParts}}"
            default-categories="[[defaultCategories]]"
            mode="[[mode]]"
            banner="[[banner]]"></kano-app-editor>
    </template>
</dom-module>

<script type="text/javascript">
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-onboarding',
        behaviors: [Kano.Behaviors.EditorViewBehavior],
        properties: {
            context: Object,
            addedParts: {
                type: Array,
                value: () => {
                    return [];
                }
            },
            code: {
                type: Object,
                value: () => {
                    return {};
                }
            },
            usedBlocks: {
                type: Object
            },
            banner: {
                type: Object
            },
            stages: {
                type: Array,
                value: () => {
                    return [
                        {
                            mode: 'simple',
                            defaultBlocks: `<xml xmlns="http://www.w3.org/1999/xhtml"><block type="talkingface#say" id=",!{#F,2}aLq:}v0hw_?C" x="266" y="157"></block><block type="talkingface#superpowers" id="3N1Ko#F(V2wrTUjLan;G" x="383" y="157"></block></xml>`,
                            defaultParts: ['talking-face'],
                            banner: {
                                head: 'Part One',
                                text: 'That code you wrote had two parts: a command and a parameter. Can you connect them together?'
                            }
                        },
                        {},
                        {}
                    ];
                }
            },
            stageNo: {
                type: Number
            }
        },
        observers: [
            'onStageChanged(stageNo)'
        ],
        attached () {
        },
        detached () {
        },
        _registerBlockly () {
            Kano.Behaviors.EditorViewBehavior._registerBlockly.apply(this, arguments);

            if (this.loaded) {
                return;
            }
            this.loaded = true;

            this.set('defaultCategories', {});
        },
        _filterParts () {
            // Only include the parts defined in the mode
            if (this.mode.parts) {
                this.set('parts', Kano.MakeApps.Parts.list.filter((part) => {
                    return this.mode.parts.indexOf(part.type) !== -1;
                }));
            }
        },
        ready () {
            this.loaded = false;

            this.editor = this.$.editor;
            this.editor.addEventListener('ws-update', this.updateWorkspaceRect.bind(this));

            Kano.MakeApps.Mode.init(Kano.MakeApps.config);
            Kano.MakeApps.Blockly.init(Kano.MakeApps.config);
            Kano.MakeApps.Parts.init(Kano.MakeApps.config);
            Kano.AppModules.init(Object.assign({}, Kano.MakeApps.config));

            this.stageNo = 0;
        },
        onStageChanged (stageNo) {
            let stage = this.stages[stageNo],
                addedParts = [];

            if (stageNo === null) {
                return;
            }

            this.mode = Kano.MakeApps.Mode.modes[stage.mode];
            this.set('mode.defaultBlocks', stage.defaultBlocks);
            this._filterParts();

            stage.defaultParts.map((partName) => {
                this.parts.forEach((part) => {
                    if (part.type === partName) {
                        addedParts.push(Kano.MakeApps.Parts.create(this.parts[0], this.mode.workspace.viewport));
                    }
                });
            });
            this.set('addedParts', addedParts);

            this.banner = stage.banner;
        },
        updateWorkspaceRect (rect) {
            Kano.MakeApps.dragAndDrop.setWorkspaceRect(rect);
        }
    });
</script>
