<link rel="import" href="../../scripts/kano/make-apps/utils.html">
<link rel="import" href="../../scripts/kano/make-apps/parts/parts.html">
<link rel="import" href="../../scripts/kano/util/router.html">
<link rel="import" href="../../scripts/kano/make-apps/blockly/blockly.html">
<link rel="import" href="../../scripts/kano/app-modules/index.html">

<link rel="import" href="../../elements/kano-app-editor/kano-app-editor.html">
<link rel="import" href="../../elements/kano-reward-modal/kano-reward-modal.html">
<link rel="import" href="../../elements/behaviors/kano-editor-view-behavior.html">

<dom-module id="kano-view-onboarding">
    <style>
    :host {
        display: block;
        @apply(--layout-vertical);
    }
    :host kano-app-editor {
        @apply(--layout-flex);
    }
    :host paper-dialog {
        background: transparent;
        overflow: hidden;
    }
    </style>
    <template>
        <kano-app-editor
            id="editor"
            running="{{running}}"
            parts="{{parts}}"
            code="{{code}}"
            added-parts="{{addedParts}}"
            default-categories="[[defaultCategories]]"
            mode="[[mode]]"
            banner="[[banner]]"
            challenge-state="{{challengeState}}"
            on-talking-face-animation-stopped="_stageFinished"></kano-app-editor>
        <paper-dialog
            id="reward-modal"
            with-backdrop>
            <kano-reward-modal
                on-interaction='_handleModalAction'
                content='[[_currentReward(rewardContent, stageNo)]]'></kano-reward-modal>
        </paper-dialog>
    </template>
</dom-module>

<script type="text/javascript">
    /* globals Polymer, Kano */
    Polymer({
        is: 'kano-view-onboarding',
        behaviors: [Kano.Behaviors.EditorViewBehavior],
        properties: {
            context: Object,
            addedParts: {
                type: Array,
                value: () => {
                    return [];
                }
            },
            code: {
                type: Object,
                value: () => {
                    return {};
                }
            },
            usedBlocks: {
                type: Object
            },
            banner: {
                type: Object
            },
            rewardContent: {
                type: Object,
                value: () => {
                    return {
                        3: {
                            icon: 'heart',
                            color: 'red',
                            title: 'Save your XP!',
                            body: 'You’ve earned 300 XP – keep it safe.',
                            links: [{
                                text: 'Save now',
                                type: 'save'
                            }, {
                                text: 'Try more challenges',
                                type: 'progress'
                            }],
                            xp: 300
                        }
                    }
                }
            },
            stages: {
                type: Array,
                value: () => {
                    return [
                        {
                            mode: 'simple',
                            defaultBlocks: `<xml xmlns="http://www.w3.org/1999/xhtml"><block type="talkingface#say" id=",!{#F,2}aLq:}v0hw_?C" x="266" y="157"></block><block type="talkingface#superpowers" id="3N1Ko#F(V2wrTUjLan;G" x="383" y="157"></block></xml>`,
                            defaultParts: ['talking-face'],
                            banner: {
                                head: 'Part One',
                                text: 'That code you wrote had two parts: a command and a parameter. Can you connect them together?'
                            },
                            reward: {
                                icon: 'star',
                                color: 'yellow',
                                title: 'You completed a challenge!',
                                body: 'Now try another: get more powers',
                                links: [{
                                    text: 'Try second challenge',
                                    type: 'progress'
                                }, {
                                    text: 'Save',
                                    type: 'save'
                                }],
                                xp: 100
                            }
                        },
                        {
                            mode: 'simple',
                            defaultBlocks: `<xml xmlns="http://www.w3.org/1999/xhtml"><block type="talkingface1#say_accent" id="yo1" x="161" y="157"></block><block type="talkingface1#superpowers" id="yo2" x="418" y="157"></block></xml>`,
                            defaultParts: ['talking-face'],
                            banner: {
                                head: 'Part Two',
                                text: 'That code you wrote had two parts: a command and a parameter. Can you connect them together?'
                            },
                            reward: {
                                icon: 'tick',
                                color: 'green',
                                title: 'Don’t your new powers feel good?',
                                body: 'Last challenge: try it',
                                links: [{
                                    text: 'Try last challenge',
                                    type: 'progress'
                                }, {
                                    text: 'Save',
                                    type: 'save'
                                }],
                                xp: 200
                            }
                        },
                        {}
                    ];
                }
            },
            stageNo: {
                type: Number
            }
        },
        observers: [
            'onStageChanged(stageNo)'
        ],
        attached () {
        },
        detached () {
        },
        _registerBlockly () {
            Kano.Behaviors.EditorViewBehavior._registerBlockly.apply(this, arguments);

            if (this.loaded) {
                return;
            }
            this.loaded = true;

            this.set('defaultCategories', {});
        },
        _filterParts () {
            // Only include the parts defined in the mode
            if (this.mode.parts) {
                this.set('parts', Kano.MakeApps.Parts.list.filter((part) => {
                    return this.mode.parts.indexOf(part.type) !== -1;
                }));
            }
        },
        ready () {
            this.loaded = false;

            this.editor = this.$.editor;
            this.editor.addEventListener('ws-update', this.updateWorkspaceRect.bind(this));

            Kano.MakeApps.Mode.init(Kano.MakeApps.config);
            Kano.MakeApps.Blockly.init(Kano.MakeApps.config);
            Kano.MakeApps.Parts.init(Kano.MakeApps.config);
            Kano.AppModules.init(Object.assign({}, Kano.MakeApps.config));

            this.stageNo = 0;
        },
        onStageChanged (stageNo) {
            console.log("stage changed", stageNo, this.code);
            let stage = this.stages[stageNo],
                addedParts = [];

            if (stageNo === null) {
                return;
            }

            this.mode = Kano.MakeApps.Mode.modes[stage.mode];
            this._filterParts();

            stage.defaultParts.map((partName) => {
                this.parts.forEach((part) => {
                    if (part.type === partName) {
                        addedParts.push(Kano.MakeApps.Parts.create(this.parts[0],
                                        this.mode.workspace.viewport));
                    }
                });
            });
            this.set('addedParts', addedParts);

            this.banner = stage.banner;
            this.set('code', {snapshot: {blocks: stage.defaultBlocks}});
        },
        updateWorkspaceRect (rect) {
            Kano.MakeApps.dragAndDrop.setWorkspaceRect(rect);
        },
        _currentReward (content, stageNo) {
            return this.stages[stageNo].reward;
        },
        _handleModalAction (e) {
            console.log('Modal interaction');
            console.log(e.detail.type);
            this.$['reward-modal'].close();
            this.stageNo++;
        },
        _stageFinished () {
            console.log("stageF");
            this.$['reward-modal'].open();
        }
    });
</script>
